[user]
    name = trizen
    email = trizen@protonmail.com
    signingkey = ABB8BBAA2E279767774149B7D0A443C703A3A056
[credential]
    helper = cache --timeout=28800
[core]
#    pager = diff-so-fancy | less --tabs=4 -RFX
    pager = delta
    autocrlf = false
[color]
    ui = true
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22
[color "diff"]
    meta = yellow
    frag = magenta bold
    commit = yellow bold
    old = red bold
    new = green bold
    whitespace = red reverse
[commit]
    gpgSign = true
[tag]
    gpgSign = true
    forceSignAnnotated = true

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    light = false
    side-by-side = false
    line-numbers = true
    features = unobtrusive-line-numbers decorations

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
